@{
    ViewBag.Title = "Thông tin nhóm người dùng";
}

<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="x_panel">
        <div class="x_title">
            <h2>NHÓM NGƯỜI DÙNG</h2>
            <div class="nav navbar-right">
                <button type="button" class="btn btn-primary" ng-click="createDelivery()">Thêm nhóm</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab_monitor" role="tab" data-toggle="tab" aria-expanded="false">Danh sách</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab_sophat" role="tab" data-toggle="tab" aria-expanded="false">Phân quyền</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active in" id="tab_monitor" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab_sophat" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- end content-->
@section scripts {
    <script src="~/Scripts/hethong/nhomngdung.js"></script>
}



