@{
    ViewBag.Title = "Quản lý thư viện";
}

<div class="jumbotron">
    <h3>HỆ THỐNG QUẢN LÝ THƯ VIÊN</h3>
    <p class="lead">Hệ thống quản lý thư viện phát triển bởi công ty An Phát</p>

    <hr />
    <p>@ViewBag.TenTruong</p>
    <p><strong>Mã trường: </strong>@ViewBag.MaTruong</p>
    <p><a href="#" class="btn btn-primary btn-lg">HƯỚNG DẪN</a></p>
</div>
