
@{
    ViewBag.Title = "Show";
}

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>TestShowReport</h2>
                    <div class="clearfix"></div>
                </div>
                <!-- end x_title-->
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" type="button" ng-click="showPDF('/report/GetReport')">Xem</button>
                            <button class="btn btn-warning" type="button" ng-click="printPDF('/report/GetReport')">In</button>
                        </div>
                    </div>

                </div>
                <!-- end x_content-->
            </div>
            <!-- end x_pannel-->
        </div>
    </div>


</div>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <script>

        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.showPDF = function (url) {
                showLoader(true);


                var pdfjsLib = window['pdfjs-dist/build/pdf'];
                // The workerSrc property shall be specified.
                pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.worker.js';

                pdfjsLib.getDocument(url).then(function (pdfDoc_) {
                    pdfDoc = pdfDoc_;
                    showLoader(false);
                    showModel('showreport');
                    document.getElementById('page_count').textContent = pdfDoc.numPages;

                    renderPage(pageNum);
                }, function (reason) {
                    showLoader(false);
                    console.error(reason)
                });
            };

            $scope.printPDF = function (url) {
                window.open(url, '_blank');
            };

        });
    </script>
}