@{
    Layout = null;
}

<ul class="nav side-menu">
    <li>
        <a> HỆ THỐNG <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/nguoidung/show">Người dùng</a></li>
            <li><a href="/nhomnguoidung/show/">Phân quyền</a></li>
        </ul>
    </li>
</ul>
