@model IEnumerable<LB.Models.GroupMenuInfo>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <ul class="nav side-menu">
        <li>
            <a><i class="@item.icon"></i> @item.name <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                @foreach (var menu in item.menus)
                {
                    <li><a href="@menu.link">@menu.name</a></li>
                }
            </ul>
        </li>
    </ul>
}

