@{
    Layout = null;
}

<ul class="nav side-menu">
    <li>
        <a>SUPPER ADMIN<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/quantri/Show">Thêm đơn vị</a></li>
            <li><a href="/quantri/showmenu">Danh sách menu</a></li>
        </ul>
    </li>
</ul>