@{
    ViewBag.Title = "Lý do phạt thẻ";
}

<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lý do phạt thẻ&nbsp;&nbsp;&nbsp;<a href="#" ng-click="addNew()"><i my-tool-tip="Thêm mới" class="fa fa-plus"></i></a></h2>
                <div class="clearfix"></div>
            </div>
            <!-- end x_title-->
            <div class="x_content">
                <div class="row">
                </div>

                <!-- table data-->
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Ghi chú</th>
                                <th>#</th>
                                <th>#</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in allDanhMuc">
                                <td>{{$index + 1}}</td>
                                <td>{{item.Ten}}</td>
                                <td>{{item.GhiChu}}</td>
                                <td><a href="#" ng-click="edit($index)">Xem</a></td>
                                <td><a href="#" ng-click="sendDelete($index)">Xóa</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table data-->
            </div>
            <!-- end x_content-->
        </div>
        <!-- end x_pannel-->
    </div>


    <!-- tao model them moi-->
    <div id="insertmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modaltitle}}</h4>
                </div>

                <!-- begin form-->
                <form class="css-form" name="createForm" ng-submit="finishForm(createForm.$valid)">
                    <!-- body-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Tên</label>
                                    <input type="text" class="form-control" ng-model="Info.Ten" required />
                                </div>
                                <div class="form-group">
                                    <label>Ghi chú</label>
                                    <input type="text" class="form-control" ng-model="Info.GhiChu" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end body-->
                    <!-- begin footer-->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Hoàn thành</button>
                    </div>
                    <!-- end footer-->
                </form>
                <!-- end form-->

            </div>
            <!-- end modal content-->
        </div>
    </div>
    <!-- end modal them-->
</div>


<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap', 'ui.mask']);
        app.controller('myCtrl', function ($scope, $http, $filter) {

            // lay du lieu
            $scope.allDanhMuc = [];
            $scope.GetData = function () {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/LyDoPhatThe/getLyDo"
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allDanhMuc = response.data.data;
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            // goi lay du liẹu

            $scope.GetData();
            //
            // khoi tao bien dung cho create va edit
            $scope.Info = {};
            $scope.IsAction = '';

            $scope.addNew = function () {

                $scope.Info = {"Ma":"","Ten": "","GhiChu":""};
                $scope.modaltitle = "Thêm mới thông tin";
                $scope.IDDis = false;
                $scope.IsAction = 'add';
                showModel("insertmodal");

            };



            $scope.edit = function (index) {
                var info = $scope.allDanhMuc[index];
                $scope.Info = angular.copy(info);
                $scope.modaltitle = "Chỉnh sửa thông tin";
                $scope.IDDis = true;
                $scope.IsAction = 'edit';
                showModel("insertmodal");
            };


            // action

            $scope.finishForm = function (isValid) {
                if ($scope.IsAction === 'add') {
                    $scope.sendCreate();
                } else if ($scope.IsAction === 'edit') {
                    $scope.sendEdit();
                } else if ($scope.IsAction === 'delete') {
                    $scope.Info = angular.copy(info);
                    $scope.sendDelete();
                }
            };
            // them tinh
            $scope.sendCreate = function () {
                showLoader(true);
                $http({
                    method: "POST",
                    url: "/LyDoPhatThe/create",
                    data: { dd: $scope.Info }
                }).then(function success(response) {

                    var result = response.data;

                    if (result.error === 0) {
                        $scope.GetData();
                        $scope.allDanhMuc.unshift(result.data);

                        hideModel("insertmodal");

                        showNotify("Đã thêm thông tin");

                    } else {

                        alert(result.msg);

                    }

                    showLoader(false);

                }
                    , function error(response) {
                        showNotify("connect has disconnect");
                        showLoader(false);
                    });

            };

            // cap nhat tinh
            $scope.sendEdit = function () {

                showLoader(true);
                //console.log($scope.Info.NamHienTai);
                $http({
                    method: "POST",
                    url: "/LyDoPhatThe/edit",
                    data: { dd: $scope.Info }
                }).then(
                    function success(response) {
                        $scope.GetData();
                        var result = response.data;

                        if (result.error === 0) {
                            showNotify("Đã cập nhật");
                            hideModel("insertmodal");

                        } else {

                            alert(result.msg);

                        }

                        showLoader(false);

                    },
                    function errror(response) {
                        showLoader(false);
                        showNotify("connect has disconnect");
                    }
                    );
            };

            // xoa du lieu
            $scope.sendDelete = function (index) {
                var info = $scope.allDanhMuc[index];
                var r = confirm("Bạn muốn xóa không ?");
                if (r) {
                    showLoader(true);

                    $http({
                        method: "POST",
                        url: "/LyDoPhatThe/delete",
                        data: { ma: info.Ma }
                    }).then(
                        function success(response) {

                            var result = response.data;

                            if (result.error == 0) {

                                $scope.allDanhMuc.splice(index, 1);

                            } else {

                                alert(result.msg);

                            }

                            showLoader(false);

                        },
                        function errror(response) {
                            showLoader(false);
                            showNotify("connect has disconnect");
                        }
                        );
                } else {

                }
            }

        });
        //-- end controller

    </script>
}



